Ass 1/__pycache__/plot_utils.cpython-312.pyc
Ass 1/__pycache__/gradient_descent.cpython-312.pyc
Ass 1/__pycache__/lin_reg_memristors.cpython-312.pyc
Ass 1/__pycache__/logistic_regression.cpython-312.pyc
